header {
  display: flex;
  align-items: right;
  padding: .5rem 3.75rem;
  font-family: 'Open Sans', sans-serif;
}

nav li {
  display: inline;
  padding-right: 2rem;
  font-size: 18px;
  color: black;
  margin-top: 10px;
  float: right;
}

h1 {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 56px;
  margin-left: 20px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin-left: 20px;
  width: 50%;
  position: center;
}

#ARO {
  color: #78b3e0;
}

