h1 {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 56px;
  margin-left: 20px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin-left: 20px;
}

#ARO {
  color: blue;
}

